<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--namespace: BoardMapper의 인터페이스 경로
BoardMapper.java와 BoardMapper.XML을 연결시켜줌-->
<mapper namespace="com.example.demo4.mapper.BoardMapper">

    <sql id="boardColumns">
          title
        , content
        , writer
        , createDate
        , readCount
    </sql>


    <select id="boardCount" resultType="int">
        SELECT COUNT(idx) FROM tbl_board WHERE idx > 0;
    </select>


    <select id="getList" parameterType="com.example.demo4.domain.Criteria" resultType="com.example.demo4.domain.Board">
        SELECT * FROM tbl_board WHERE idx BETWEEN #{rowStart} AND #{rowEnd};
    </select>

    <select id="getBoard" parameterType="Long" resultType="com.example.demo4.domain.Board">
        SELECT * FROM tbl_board where idx=#{idx};
    </select>

    <insert id="uploadBoard" parameterType="com.example.demo4.domain.Board">
        INSERT INTO tbl_board (
        <include refid="boardColumns" />
        )
        VALUES
        (
          #{title}
        , #{content}
        , #{writer}
        , current_timestamp
        , 0);
    </insert>

    <update id="updateBoard" parameterType="com.example.demo4.domain.Board">
        update tbl_board set name = #{writer}, title = #{title}, content = #{content}, createDate = current_timestamp
        where idx = #{idx};
    </update>

    <update id="readCountBoard" parameterType="Long">
        update tbl_board set readCount = readCount + 1 where idx = #{idx};
    </update>

    <delete id="deleteBoard" parameterType="Long">
        delete from tbl_board where idx=#{idx}
    </delete>

</mapper>