<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${param.status}" class="container">

    <h2 class="h2">삭제 되었습니다.</h2>
    <div class="row">
        <div class="col">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/boards/main/1}'|">확인</button>
            </div>

        </div>
    </div>
</div>
<div th:if="!${param.status}" class="container">
    <h2 class="h2">정말 삭제하시겠습니까?</h2>
    <form th:action method="post">
        <div class="row">
            <div class="col">
                <div class="btn-group">
                    <button type="submit" class="btn btn-danger">삭제</button>
                    <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/boards/{idx}/view(idx=${board.idx})}'|">취소</button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>