<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row justify-content-end">
    <div class="col-4">
        <button class="btn btn-primary btn-lg"
                th:onclick="|location.href='@{/boards/upload}'|">로그인</button>
    </div>
    <div class="col-4">
        <button class="btn btn-close-white btn-lg"
                th:onclick="|location.href='@{/boards/upload}'|">회원가입</button>
    </div>
</div>
<div class="container-fluid">
    <div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <th scope="col">글번호</th>
            <th scope="col">작성자</th>
            <th scope="col">제목</th>
            <th scope="col">조회수</th>
            <th scope="col">날짜</th>
            </thead>
            <tr th:each="list : ${list}">
                <th scope="row">[[${list.boardId}]]</th>
                <td>[[${list.name}]]</td>
                <td>
                    <a th:href="@{/boards/{boardId}/view(boardId=${list.boardId})}">
                        [[${list.title}]]
                    </a>
                </td>
                <td>[[${list.readCount}]]</td>
                <td>[[${list.createDate}]]</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-50 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/boards/upload}'|">등록</button>
        </div>
    </div>
</div>
</body>
</html>