<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <table class="table">
            <thead>
            <p>글번호 : [[${view.boardId}]]</p>
            <p>제목 : [[${view.title}]]</p>
            <p>작성자 : [[${view.name}]]</p>
            <p>작성자ID : [[${view.memberId}]]</p>
            <p>내용 : [[${view.content}]]</p>
            <p>조회수 : [[${view.readCount}]]</p>
            <p>날짜 : [[${view.createDate}]]</p>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group">
                <button class="btn btn-primary" id="updateBtn" th:onclick="|location.href='@{/boards/{boardId}/update(boardId=${view.boardId})}'|">수정</button>
                <button class="btn btn-danger" id="deleteBtn" th:onclick="|location.href='@{/boards/{boardId}/delete(boardId=${view.boardId})}'|">삭제</button>
                <button class="btn btn-secondary" id="homeBtn" th:onclick="|location.href='@{/boards/main}'|">목록</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>